@charset "utf-8";
@import url(../css/html5reset-1.6.1.css); /*reset css*/

.inner {
    width: 100%;
    margin: auto;
}
.inner:after {
    content: "";
    clear: both;
    display: block;
}
 * {
  font-family:"游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
 }
/* header */
#header {
  width: 100%;
  height: 60px;
  position: fixed;
  background: #ffffff;
  z-index: 999;
}
#header .inner {
  display: block;
  width: 980px;
  margin: 5px auto;
  position: relative;
}
#header .header_logo {
  width: 256px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
#global_nav ul {
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
}
#global_nav ul li {
  float: left;
  padding: 11px 20px 0;
  font-size: 18px;
  line-height: 31px;
  height: 50px;
}
#global_nav ul li a {
  text-decoration: none;
  color: #555555;
}

/* Toggle Button */
#nav_toggle {
  display: none;
  position: absolute;
  left: 50px;
  top: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1001;
}
#nav_toggle div {
  position: relative;
}
#nav_toggle span {
  display: block;
  position: absolute;
  left: 15px;
  height: 3px;
  width: 20px;
  margin-top: 15px;
  background: #707070;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}
#nav_toggle span:nth-child(1) {
  top: 0;
}
#nav_toggle span:nth-child(2) {
  top: 8px;
}
#nav_toggle span:nth-child(3) {
  top: 16px;
}

@media screen and (max-width: 991px) {
  #header,
  .inner {
    width: 100%;
    padding: 0;
  }
  #header {
    top: 0;
    position: fixed;
    height: 70px;
  }
  #header .inner {
    margin: 0;
    width: 100%;
  }
  #header .header_logo {
    top: 10px;
    left: calc((100% - 256px )/2);
  }
  #header_sp {
    background: #ffffff;
    width: 100%;
    height: 70px;
    z-index: 999;
    position: relative;
  }
  #global_nav {
    position: absolute;
    /* 開いてないときは画面外に配置 */
    top: 70px;
    left: 1000px;
    background-color: #777777;
    opacity: 0.6;
    width: calc(100% - 100px);
    height: 600px;
    text-align: center;
    padding: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    visibility: hidden;
    z-index: 1111;
  }
  #global_nav ul {
    list-style: none;
    position: static;
    right: 0;
    bottom: 0;
    margin-top: 100px;
  }
  #global_nav ul li {
    float: none;
    position: static;
    margin-bottom: 50px;
  }
  #global_nav ul li a {
    display: block;
    width: 50%;
    margin: 0 auto;
    font-size: 44px;
    line-height: 55px;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
  }
  #nav_toggle {
    display: block;
  }
  /* #nav_toggle 切り替えアニメーション */
  .open #nav_toggle span:nth-child(1) {
    top: 11px;
    left: -20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .open #nav_toggle span:nth-child(2) {
    opacity: 0;
    left: -20px;
  }
  .open #nav_toggle span:nth-child(3) {
    top: 11px;
    left: -20px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /* #global_nav スライドアニメーション */
  .open #global_nav {
    -moz-transform: translateX(-900px);
    -webkit-transform: translateX(-900px);
    transform: translateX(-900px);
    visibility: visible;
  }
}
@media screen and (max-width: 767px) {
  #header .header_logo {
    width: 200px;
    top: 15px;
    left: calc((100% - 200px )/2);
  }
  /* Toggle Button */
  #nav_toggle {
    left: 20px;
  }
  /* #nav_toggle 切り替えアニメーション */
  .open #nav_toggle span:nth-child(1) {
    left: 14px;
  }
  .open #nav_toggle span:nth-child(2) {
    left: 14px;
  }
  .open #nav_toggle span:nth-child(3) {
    left: 14px;
  }
  #global_nav {
    position: absolute;
    /* 開いてないときは画面外に配置 */
    left: 769px;
    background-color: #51A2BC;
    opacity: 1;
    width: 100%;
    height: 800px;
  }
  #global_nav ul li {
    padding: 0;
    margin-bottom: 31px;
  }
  #global_nav ul li a {
    width: 200px;
    padding-bottom: 19px;
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    border-bottom: 3px solid #ffffff;
  }
  /* #global_nav スライドアニメーション */
  .open #global_nav {
    -moz-transform: translateX(-769px);
    -webkit-transform: translateX(-769px);
    transform: translateX(-769px);
  }
}

/* top */
#top {
  width: 100%;
  height: 600px;
  background: url(../img/header.jpg);
  background-size: cover;
  background-position-y: 60px;
  background-position: center;
  padding-top: 60px;
}
@media screen and (max-width: 991px) {
  #top {
    background-position-y: 70px;
    padding-top: 70px;
  }
}
@media screen and (max-width: 767px) {
  #top {
    width: 100%;
    height: 800px;
    background: url(../img/header_sp.png);
    background-size: cover;
    background-position: center;
  }
}

/* contents inner */
#ability .inner, #about .inner {
  display: block;
  width: 980px;
}
@media screen and (max-width: 991px) {
  #ability .inner, #about .inner {
    display: block;
    width: 100%;
  }
}
/* ability */
#ability {
  background: #ffffff;
}
#ability .inner {
  padding-top: 70px;
  padding-bottom: 80px;
}
#ability .content_title {
  display: block;
  width: 185px;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  color: #555555;
  border-bottom: 5px solid #51A2BC;
  letter-spacing: -2px;
  text-align: center;
  margin: 0 auto;
}
#ability .container {
  display: block;
  margin-top: 52px;
  letter-spacing: -1em;
  white-space: nowrap;
}
#ability .ability_content {
  display: inline-block;
  width: 33.33%;
  height: auto;
  letter-spacing: normal;
  white-space: normal;
  text-align: center;
  color: #555555;
}
#ability .ability_content img {
  display: block;
  width: 260px;
  margin: 0 auto;
}
#ability .ability_content h1 {
  font-size: 32px;
  line-height: 54px;
}
#ability .ability_content p {
  font-size: 20px;
  line-height: 34px;
}
@media screen and (max-width: 991px) {
  #ability .inner {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  #ability .content_title {
    width: 211px;
    font-size: 41px;
    line-height: 70px;
  }
  #ability .container {
    margin-top: 50px;
  }
  #ability .ability_content {
    display: block;
    width: 100%;
    padding-bottom: 70px;
  }
  #ability .ability_content img {
    width: 300px;
  }
  #ability .ability_content h1 {
    margin-top: 20px;
  }
  #ability .ability_content p {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  #ability .inner {
    padding-bottom: 99px;
  }
  #ability .container {
    width: 100%;
    margin-top: 50px;
  }
  #ability .ability_content {
    display: inline-block;
    width: 100%;
    padding-bottom: 0;
  }
  /* flickity custom */
  #ability .flickity-page-dots {
    bottom: -42px;
  }
  #ability .flickity-page-dots .dot {
    width: 14px;
    height: 14px;
    opacity: 1;
    background: transparent;
    border: 3px solid #51A2BC;
  }
  #ability .flickity-page-dots .dot.is-selected {
    background: #51A2BC;
  }
}

/* about */
#about {
  background: #ffffff;
  letter-spacing: -1em;
  white-space: nowrap;
}
#about .about_content_l {
  display: inline-block;
  width: 530px;
  letter-spacing: normal;
  white-space: normal;
  vertical-align: top;
  margin-bottom: 75px;
}
#about .about_content_l h1 {
  font-size: 32px;
  line-height: 54px;
  color: #555555;
}
#about .about_content_l p {
  display: block;
  margin: 30px 0;
  font-size: 22px;
  line-height: 37px;
  color: #555555;
}
#about .about_content_l a {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 167px;
  font-size: 22px;
  line-height: 37px;
  color: #51A2BC;
  background-color: #ffffff;
  border: 3px solid #51A2BC;
  border-radius: 25px;
}
#about img {
  display: inline-block;
  width: 450px;
  height: 374px;
  background-size: contain;
  letter-spacing: normal;
  white-space: normal;
  margin-bottom: 75px;
}
@media screen and (max-width: 991px) {
  #about {
    position: relative;
  }
  #about .height_fix:before {
    content: "";
    display: block;
    padding-top: 92%;
  }
  #about .about_content_l {
    display: block;
    width: calc(100% - 100px);
    margin: 0 50px 100px;
    text-align: center;
  }
  #about .about_content_l h1 {
    margin-top: 100px;
  }
  #about .about_content_l p {
    margin: 40px 0;
  }
  #about .about_content_l a {
    width: 266px;
    height: 56px;
    padding-top: 14px;
    font-size: 27px;
    line-height: 48px;
    border: 5px solid #51A2BC;
    border-radius: 25px;
    margin: 0 auto;
  }
  #about img {
    display: block;
    width: calc(100% - 100px);
    height: auto;
    background-size: contain;
    letter-spacing: normal;
    white-space: normal;
    margin: 0 50px;
    position: absolute;
    top: 0;
  }
}
@media screen and (max-width: 767px) {
  #about img {
    display: none;
  }
  #about .height_fix:before {
    padding-top: 0;
  }
  #about .about_content_l p {
    margin: 40px 0;
  }
}

/* footer */
#footer {
  background: #D5D5D5;
  height: 50px;
}
#footer .inner {
  padding-top: 17px;
  text-align: center;
}
#footer p {
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", "Yu Gothic", "游ゴシック体", sans-serif;
  color: #ffffff;
}

